

.log {
  font-size: 12px;

}

.main-file-upload .custom-btn {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 125px;
}
.reset-btn {
    background: #696969;
    margin-left: 20px;
}
.reset-btn:hover {
    background: #696969;
}
.upload-col {
    position: relative;
    display: table;
    margin: 0 auto;
    padding-bottom: 10px;
}
.custom-file-upload {
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 98px;
    background: #485a9d;
    color: #ffff;
    line-height: 31px;
    height: 32px;
    border-radius: 3px;
}
.upload-col button {
    background: #35b9a2;
    color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 5px 20px;
    float: right;
    cursor: pointer;
}
input[type="file"] {
    outline: none;
}

.upload-message {
    /*color: #f00;*/
    display: block;
    margin-bottom: 10px;
}
.main-file-upload video  {
    width: auto;
    height: 250px;
}
.upload-status .success{
    color: green;
}
.upload-status .error
{
    color: red;
}

.description{
    margin-top: 10px;
    color: #3e5b99;
    font-size: 17px;
    font-weight: bold;
    border: dashed 1px #405a99;
    padding: 7px 15px;
    text-align: justify;
    width: 454px;
    margin: 0 auto;
}

.p-20{
    padding: 0px 20px;
}

.cst-main-video vg-player {
    font-family: 'videogular';
    position: relative;
    display: table;
    width: auto;
    height: 100%;
    overflow: hidden;
    background-color: black;
    margin: 0 auto;
    text-align: center;
}
@media (max-width:480px) {

    .main-file-upload video  {
        width: 100%;
        height: 250px;
    }

    .description{
        width: 100%;
    margin: 0 auto;
    }
    .upload-col {
       width: 92%;
    }
    .upload-col input {
        width: 200px;
        float: left;
    }
    .upload-col button {
        padding: 5px 13px;
        font-size: 13px;
        float: right;
    }
    .custom-file-upload {
        width: 82px;
    }
    .upload-col input {
        width: 60%;
        float: left;
        font-size: 13px;
        line-height: 26px;
    }
   
}